// font
.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

// height
.h-50px {
  height: 50px;
}

.max-h-300px {
  max-height: 300px;
}

// width
.w-60 {
  width: 60px;
}
