html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color) !important;
  background-color: var(--body-bg) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import './css-variables';

// libraries
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../node_modules/react-toastify/dist/ReactToastify.css';

// custom
@import './custom/reactToastify';

// common
@import './common';
